<a href="https://colab.research.google.com/github/tahae02/Week-1-Data-Analysis-Internship-Uptrail/blob/main/Week_1_Data_Analysis_for_Business_Insights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#This is the notebook for the Week 1 project

##Importing the necessary library to import and read the dataset

To avoid reuploading the dataset for every new runtime, I saved the dataset to my drive under the file path mentioned below, and 'Mounted the drive'.

In [ ]:
import pandas as pd

file_path="/content/drive/MyDrive/Colab Notebooks/Uptrail Data Internship Projects /sales_data.xlsx"

df=pd.read_excel(file_path)
pd.read_excel(file_path) # this duplicate line is just to see what the dataset looks like at the start before pre-processing

,Transaction_ID,Date,Customer_ID,Product,Category,Quantity,Price,Total_Amount,Payment_Method,Region
0,1001,2024-01-05,C001,Laptop,Electronics,1,800,NaN,Credit Card,North
1,1002,2024-01-10,C002,Smartphone,Electronics,2,600,1200.0,Cash,South
2,1003,2024-01-12,C003,Headphones,Electronics,1,100,100.0,PayPal,West
3,1004,2024-02-05,C004,Tablet,Electronics,1,500,500.0,Debit Card,East
4,1005,2024-02-08,C005,Book,Books,3,20,60.0,Credit Card,North
5,1006,2024-02-10,C001,Laptop,Electronics,1,800,800.0,Credit Card,North
6,1007,2024-03-15,C006,Shoes,Clothing,2,50,100.0,Cash,South
7,1008,2024-03-18,C007,T-Shirt,Clothing,1,25,25.0,PayPal,West
8,1009,2024-03-20,C008,Smartwatch,Electronics,1,200,200.0,Debit Card,East
9,1010,2024-04-01,C009,Book,Books,2,20,40.0,Credit Card,North
10,1011,2024-04-05,C002,Smartphone,Electronics,2,600,1200.0,Cash,South
11,1012,2024-04-10,C010,Tablet,Electronics,1,500,500.0,Debit Card,East
12,1013,2024-05-01,C011,Shoes,Clothing,1,50,50.0,Cash,South
13,1014,2024-05-05,C012,Headphones,Electronics,1,100,100.0,PayPal,West
14,1015,2024-05-08,C013,Laptop,Electronics,1,800,800.0,Credit Card,North
15,1016,2024-05-10,C014,T-Shirt,Clothing,3,25,75.0,Cash,South
16,1017,2024-06-01,C015,Smartwatch,Electronics,1,200,200.0,Debit Card,East
17,1018,2024-06-05,C016,Book,Books,4,20,80.0,Credit Card,North
18,1019,2024-06-08,C017,Smartphone,Electronics,1,600,600.0,Cash,South
19,1020,2024-06-10,C018,Tablet,Electronics,1,500,500.0,Debit Card,East

##Pre-Processing the Dataset

First I will look at the dataset and find out how many null values there are that i need to handle

In [ ]:
df.isnull().sum() # this code goes through every column and gives me the count of null values for each column

Transaction_ID    0
Date              0
Customer_ID       0
Product           0
Category          0
Quantity          0
Price             0
Total_Amount      1
Payment_Method    0
Region            0
dtype: int64

Next I will try removing that null value, since it is a number i can fill it in with a statisical value (I will try this later)

In [ ]:
df.dropna()

,Transaction_ID,Date,Customer_ID,Product,Category,Quantity,Price,Total_Amount,Payment_Method,Region
1,1002,2024-01-10,C002,Smartphone,Electronics,2,600,1200.0,Cash,South
2,1003,2024-01-12,C003,Headphones,Electronics,1,100,100.0,PayPal,West
3,1004,2024-02-05,C004,Tablet,Electronics,1,500,500.0,Debit Card,East
4,1005,2024-02-08,C005,Book,Books,3,20,60.0,Credit Card,North
5,1006,2024-02-10,C001,Laptop,Electronics,1,800,800.0,Credit Card,North
6,1007,2024-03-15,C006,Shoes,Clothing,2,50,100.0,Cash,South
7,1008,2024-03-18,C007,T-Shirt,Clothing,1,25,25.0,PayPal,West
8,1009,2024-03-20,C008,Smartwatch,Electronics,1,200,200.0,Debit Card,East
9,1010,2024-04-01,C009,Book,Books,2,20,40.0,Credit Card,North
10,1011,2024-04-05,C002,Smartphone,Electronics,2,600,1200.0,Cash,South
11,1012,2024-04-10,C010,Tablet,Electronics,1,500,500.0,Debit Card,East
12,1013,2024-05-01,C011,Shoes,Clothing,1,50,50.0,Cash,South
13,1014,2024-05-05,C012,Headphones,Electronics,1,100,100.0,PayPal,West
14,1015,2024-05-08,C013,Laptop,Electronics,1,800,800.0,Credit Card,North
15,1016,2024-05-10,C014,T-Shirt,Clothing,3,25,75.0,Cash,South
16,1017,2024-06-01,C015,Smartwatch,Electronics,1,200,200.0,Debit Card,East
17,1018,2024-06-05,C016,Book,Books,4,20,80.0,Credit Card,North
18,1019,2024-06-08,C017,Smartphone,Electronics,1,600,600.0,Cash,South
19,1020,2024-06-10,C018,Tablet,Electronics,1,500,500.0,Debit Card,East